html ,body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.header{
    width: 100%;
    background: white;
    position: fixed;
    top:0;
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    height: 100px;
    border-bottom: 2px solid #6f0000;
    justify-content: center;
}

@media only screen and (max-width: 1030px) {
    .header {
        display: inline-flex;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        height: 100px;
        border-bottom: 2px solid #6f0000;
        justify-content: center;
    }
}

.nav{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.logo{
    margin-top: 20px;
    width: 132px;
    height: 108px;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.nav__inner{
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid transparent;
}

ul{
    list-style-type: none;
    display: inline-flex;
}

.nav__inner:hover{
    color: #6f0000;
    border-color: #6f0000;
    transition: 1s;
}

.nav__contacts{
    text-decoration: none;
    margin-left: 30px;
}

.container{
    justify-content: center;
    height: 100%;
    display: flex;
    margin-top: 140px;
}

.headline{
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}