html ,body{
    font-weight: 10px;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    overflow: hidden;
}
body{
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

.container{
    height: 100%;
    justify-content: center;
    display: flex;
}

.nav{
    display: flex;
    align-items: right;
    margin-top: 20px;
}

.nav__inner {
    margin-right: 30px;
    color: black;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.nav__inner:hover{
    color: #e9d2a7;
    border-color: #e9d2a7;
    transition: .5s;
}

.header{
    position: fixed;
    padding: 20px;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

.logo{
    font-size: 2rem;
    display: inline-block;
    padding: 20px 30px;
    background: #F35B66;
    color: #fff;
    margin: 50px 0 0 50px;
    transition: all .2s;
}