html ,body{
    font-weight: lighter;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: scroll;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.header{
    width: 100%;
    background: white;
    position: fixed;
    top:0;
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    height: 100px;
    border-bottom: 2px solid #6f0000;
    justify-content: center;
}

@media only screen and (max-width: 1030px) {
    .header {
        background: white;
        display: inline-flex;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        height: 100px;
        border-bottom: 2px solid #6f0000;
        justify-content: center;
    }
}

.nav{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.logo{
    margin-top: 20px;
    width: 132px;
    height: 108px;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.nav__inner{
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-bottom: 2px solid transparent;
}

ul{
    list-style-type: none;
    display: inline-flex;
}

.nav__inner:hover{
    color: #6f0000;
    border-color: #6f0000;
    transition: 1s;
}

.nav__contacts{
    text-decoration: none;
    margin-left: 30px;
}

.container{
    height: auto;
    justify-content: space-between;
    display: flex;
}

.photo{
    display: flex;

}

.photo__inner{
    display: inherit;
    height: 500px;
    width: auto;
    margin-left: 130px;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 40px;
    border: 2px solid gold;
}

.text{
    border-radius: 40px;
    border: 2px solid black;
    flex-direction: column;
    height: auto;
    width: 400px;
    margin-right: 100px;
    margin-top: 250px;
    margin-bottom: 60px;
    display: flex;
    background-color: white;

}

.text__inner{
    margin-left: 25px;
    margin-right: 40px;
    font-weight: lighter;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}

.headline{
    font-size: 25px;
}

.contacts{
    margin-bottom: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.contacts:hover{
    color: gold;
    transition: 0.3s;
}

.footer{
    width: 100%;
    bottom: 0;
    height: 20px;
}

.footer__text{
    opacity: 0.5;
    font-size: 12px;
    display: flex;
    justify-content: center;
}